<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674192726364-ip5o25sq310fv722e3q66hr0u2vrgc0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674192726364-ip5o25sq310fv722e3q66hr0u2vrgc0i</string>
	<key>API_KEY</key>
	<string>AIzaSyCM3SiX1H-bFb0ZVUIvPlb6o7T1y1IHdIk</string>
	<key>GCM_SENDER_ID</key>
	<string>674192726364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalClinik</string>
	<key>PROJECT_ID</key>
	<string>medikalclinik</string>
	<key>STORAGE_BUCKET</key>
	<string>medikalclinik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674192726364:ios:f57df2a63e68d2723a8999</string>
</dict>
</plist>